*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: black;
    color: dimgrey;
    width: 21vw;
    height: 89vh;
    position: absolute;
    top:0;
}
.logo:hover,
.playlist:hover,
.utente:hover{
    animation: infinite;
    color: white;
}

.logo{
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
.logo img{
    width: 50%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.playlist{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}
.playlist p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.utente{
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    margin-left: 0.5rem;
}
.utente p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main{
    background-color: slategrey;
    color: white;
    width: 79vw;
    height: 89vh;
    overflow: auto;
    position: relative;
    left: 15rem;
}

.upgrade{
    background-color: #222;
    width: 100%;
    height: 15%;
    text-align:right;
}
.upgrade button{
    margin-top: 0.8rem;
    margin-bottom: 0.9rem;
    margin-right: 0.5rem;
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: #222;
    color: white;
    border: solid white;
}
.upgrade button:hover{
    animation: infinite;
    transform: scale(1.1);
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.description p{
    display: none;
}

.description:hover p{
    display: block;
}


.img{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    text-align: center;
}
.img img{
    width: 50%;
}
.songs h2{
    margin-bottom: 1rem;
}

.radar{
    display: flex;
    justify-content: start;
    font-size: 0.9rem;
}
.radar img{
    width: 50%;
    padding: 0.3rem;
}
.for-you h2{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}
.for-you p{
    margin-top:0.5rem;
    margin-bottom: 0.7rem;
}

.artist{
    display: flex;
    justify-content: start;
    font-size: 0.9rem;
}
.advice img{
    width: 50%;
    padding: 0.3rem;
    border-radius: 5rem;
}
.popular h2{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}

.popular p{
    margin-top:0.5rem;
    margin-bottom: 0.7rem;
}

footer{
    background-color: lightgray;
    width: 100%;
    height:11vh;
    position: absolute;
    bottom: 0;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.current-song{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.current-song img{
    width: 15%;
    height: 70%;
}
.song-name{
    font-size: 0.9rem;
}

.play{
    width: 40%;
    text-align: center;
}

.volume{
    width: 30%;
    text-align: right;
}

@media screen and (max-width: 500px) {
    header{
        height: 89vh;
        }

        .logo{
            font-size: 0.7rem;
        }

        .playlist{
            font-size: 0.7rem;
        }

        .utente{
            font-size: 0.7rem;
        }


        main{
            height: 89vh;
            overflow: auto;
            position: sticky;
        }
        .navbar{
            display: flex;
            flex-wrap: wrap;
            font-size: 0.9rem;
        }

        .description p{
            display: none;
        }
        
        .description:hover p{
            display: block;
        }
        .img{
            display: flex;
            flex-wrap: wrap;
        }

        footer{
            height:11vh;
            width: 100%;
        }
}

@media screen and (max-width: 900px) {
    header{
        position: absolute;
        top: 0;
        height: 89vh;
    }

    main{
        height: 89vh;
        position: sticky;
    }

    .logo,
    .playlist,
    .utente{
        font-size: 0.7rem;
    }

    .navbar{
            display: flex;
            flex-wrap: wrap;
            font-size: 1.5rem;
    }

    .description p{
        display: none;
    }
    
    .description:hover p{
        display: block;
    }
    
    .img{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    footer{
        width: 100%;
        height:11vh;
        position: absolute;
        bottom: 0;
    }
}